<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Produit</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="container">
        <div class="left">
          <div>
            <input type="text" name="" placeholder="search" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </div>
        </div>
        <div class="center"><h1>LTT Store</h1></div>
        <div class="right">
          <div>
            <a href="" class="login-link">Login</a>
          </div>
          <div class="cart">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart3"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
              />
            </svg>
            <div>5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pcontainer flex-d-c">
      <div class="img">
        <img
          src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_800x.png?v=1648835310"
          alt=""
          srcset=""
        />
      </div>
      <div class="info">
        <h1>ELEMENTAL T-SHIRTS</h1>
        <div class="colors">
          <h3>PICK COLOR: PURPLE</h3>
          <div>
            <div class="borders"></div>
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
          </div>
        </div>
        <div class="sizes">
          <h3>PICK SIZE: XXX-LARGE</h3>
          <div>
            <div>S</div>
            <div>M</div>
            <div>L</div>
            <div>XL</div>
            <div class="sles">2XL</div>
            <div>3XL</div>
          </div>
        </div>
        <div class="detai">
          <details>
            <summary>SIZE GUIDE</summary>

            <img src="./img/sizes.png" alt="" srcset="" />
          </details>
          <details>
            <summary>PRODUCT INFORMATION</summary>
            <br />
            <p>
              SMALL - XX-LARGE PRINTED ON AMERICAN APPAREL 50/50 POLYBLEND
              T-SHIRTS
            </p>
            <p>
              XXX-LARGE PRINTED ON ALSTYLE OR FRUIT OF THE LOOM 100% COTTON
              T-SHIRTS
            </p>
          </details>
        </div>
        <div class="add__cart">
          <div>
              <button
                type="submit"
              >
                Add to cart
              </button>
          </div>

          <div>
           <span>$19.99 USD</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fav">
        <div class="container">
          <h1>YOU MAY ALSO LIKE        </h1>
          <div class="flex flex-d-c">
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
