<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="container">
          <div class="left">
            <div>
              <input type="text" name="" placeholder="search" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
            </div>
          </div>
          <div class="center"><h1 class="hide">LTT Store</h1>
            <h1 class="show">LTT</h1></div>
          <div class="right">
            <div>
              <a href="" class="login-link">Login</a>
            </div>
            <div class="cart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-cart3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                />
              </svg>
              <div>5</div>
            </div>
          </div>
        </div>
      </div>


      <div class="fav all">
        <div class="container">
          <h1>All Products</h1>
          <div class="filter">
            <div class="f">
                <span>Filter Products:</span>
                <select>
                    <option disabled selected>
                      Color
                    </option>
                    <option>White</option>
                    <option>Black</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Yellow</option>
                    <option>Green</option>
                  </select>
                  <select>
                    <option disabled selected>
                      Size
                    </option>
                    <option>XS</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
            </div>
            <div class="sort">
                <span>Sort Products:</span>
                <select>
                    <option selected>Newest</option>
                    <option>Price (asc)</option>
                    <option>Price (desc)</option>
                  </select>
            </div>
          </div>
          <div class="flex flex-d-c">
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/lttstore_ElementalTee02_TransparencyFile_400x.png?v=1648835310"
                alt=""
                srcset=""
              />
              <div>
                <h3>ELEMENTAL T-SHIRTS</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/Lttstore_CPUComponentsShirt_TransparencyFile_700x.png?v=1633033107"
                alt=""
                srcset=""
              />
              <div>
                <h3>Processor T-shirt</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/Lttstore_CPUComponentsShirt_TransparencyFile_700x.png?v=1633033107"
                alt=""
                srcset=""
              />
              <div>
                <h3>Processor T-shirt</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/Lttstore_CPUComponentsShirt_TransparencyFile_700x.png?v=1633033107"
                alt=""
                srcset=""
              />
              <div>
                <h3>Processor T-shirt</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/Lttstore_CPUComponentsShirt_TransparencyFile_700x.png?v=1633033107"
                alt=""
                srcset=""
              />
              <div>
                <h3>Processor T-shirt</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
            <div>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/4538/5314/products/Lttstore_CPUComponentsShirt_TransparencyFile_700x.png?v=1633033107"
                alt=""
                srcset=""
              />
              <div>
                <h3>Processor T-shirt</h3>
                <p>$19.99 USD</p>
              </div>
            </div>
          </div>

        </div>
      </div>
</body>
</html>