.nav{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0px 50px 0 10px;
    align-items: center;
    height: 50px;
}
.nav .left h1{
    color: darkblue;
    font-size: 30px;
}

.nav-item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 5px;
}

.nav-item span{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.logo{
    display:flex
}