
.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  max-width: 230px;

  }
  .container{
    display: flex;
    gap: 30px;
  }
  .container .content{
    height: calc(100vh - 50px);
    overflow-y: auto;
    flex: 4;
    /* max-width: 230px; */
  }
  .sidebarWrapper{
    padding: 25px;
  }
  .sidebarWrapper h3{
    font-size: 20px;
    font-weight: bold;
    color: rgb(104, 104, 104);
  }
  .sidebarWrapper ul{
    list-style: none;
    padding: 5px;
    margin: 0;
  }
  .sidebarWrapper ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  .sidebarWrapper ul li svg{
    margin-right: 10px;
  }
  .sidebarWrapper ul a{
    color: #000;
    text-decoration: none;
  
    
  }
  .sidebarWrapper ul li:hover ,.sidebarWrapper .active li{
    color: #000;
    text-decoration: none;
    background-color: rgb(193, 224, 235);
    border-radius: 10px;
  }